.image-slider {
  @apply w-[70vw] h-screen;
}

.img-wrapper {
  @apply w-[100%] h-[90%] bg-white overflow-hidden py-0 p-4 z-0;
  // height: calc(100% - 5rem);
}

.images-container {
  @apply min-w-full h-[90%] mt-[2%] flex items-end shrink-0 transition-all duration-700;
}

.container {
  @apply w-[20%] h-full shrink-0 flex items-end;
}

.container:not(:first-child),
.container:not(:last-child) {
  @apply ml-[1%];
}

img {
  @apply w-full h-full object-cover shrink-0;
}

.image--1,
.image-0,
.image-1,
.image-2,
.image-3,
.image-4 {
  @apply transition-all duration-700;
}

.image--1 {
  @apply h-1/2;
  filter: blur(5px);
}

.image-0 {
  @apply h-1/2 w-[10%];
  filter: blur(5px);
}

.image-1 {
  height: 60%;
  filter: blur(2px);
}

.image-2 {
  height: 70%;
  filter: blur(1.6px);
}

.image-3 {
  height: 80%;
  filter: blur(1.3px);
}

.image-4,
.image-5 {
  @apply w-[24%] h-[90%];
}

.icon-btn {
  @apply rounded-full w-10 h-10 text-white px-[0.7rem] py-4 flex justify-center items-center bg-primary;
}

// .btn-left {
//   @extend button;
//   @apply absolute left-4 z-10;
// }

// .btn-right {
//   @extend button;
//   @apply absolute right-4 z-10;
// }
